
header {
    position: relative;
    z-index: 2;
    height: 130px;
    background-color: #ffffff;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px 60px 0 60px
}

nav li{
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

li a {
  padding: 5px;
  background-color: #ffffff;
  text-decoration: none;
}