.checkout-image-logo {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.navbar-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    border-bottom: 1px grey solid;
}

.nav-cart-button {
    background-color: #1FAFA5;
    color: white;
    cursor: pointer;
    text-decoration: none;
}