.checkout-back-button-header {
    margin: 1% 2% 0% 2%;
}

.checkout-back-button-text-div{
    color: red;
}

.checkout-back-button-text-div h3 {
    text-align: center;
}

.back-button-header {
    margin: 15px;
}
